body {
  background-color: burlywood;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.game-button {
  height: 200px;
  padding: 10px 20px;
  width: 200px;
  border: 5px solid black;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}

.game {
  display: flex;
  justify-content: center;
}

.g {
  background-color: #4caf50;
}

.r {
  background-color: #f44336;
}

.y {
  background-color: #ffeb3b;
}

.b {
  background-color: #2196f3;
}

.pressed {
  background-color: #ccc;
  transform: scale(0.95);
  box-shadow: 0 5px #666;
}
